<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SelfSignedX509OpenSslNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SelfSignedX509OpenSslNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SelfSignedX509OpenSslNet.Properties.Settings>
            <setting name="caCertificateFileLocation" serializeAs="String">
                <value>D:\OpenSSL-Win32\bin\ca.cer</value>
            </setting>
            <setting name="caPrivateKeyFileLocation" serializeAs="String">
                <value>d:\OpenSSL-Win32\bin\capkey.key</value>
            </setting>
            <setting name="csrFileLocation" serializeAs="String">
                <value>D:\OpenSSL-Win32\bin\csr.csr</value>
            </setting>
            <setting name="csrPrivateKeyFileLocation" serializeAs="String">
                <value>d:\openssl.net\pkey.key</value>
            </setting>
            <setting name="csrPrivateKeyPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="caPrivateKeyPassword" serializeAs="String">
                <value>caPassword</value>
            </setting>
            <setting name="SignedCertificateFileLocation" serializeAs="String">
                <value>d:\openssl.net\new cert.cer</value>
            </setting>
        </SelfSignedX509OpenSslNet.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SelfSignedX509OpenSslNet.Properties.Settings>
            <setting name="OpenSslConfigurationFileName" serializeAs="String">
                <value>OpenSSL.cnf</value>
            </setting>
        </SelfSignedX509OpenSslNet.Properties.Settings>
    </userSettings>
</configuration>